
<form id="search_form">
  <div class="form-group row">
      <input class="form-control" type="text" id="search_text_input" name="search" placeholder="I want to search for...">
      <input class="form-control" type="select" id="search_key_input" name="type">
      <br>
      <input type="submit" class="btn btn-outline" value="SEARCH" id="search-submit">
  </div>
</form>