<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body id="page-top">
  <% include ../partials/nav %>
    <header>
        <div class="container"  id="login-form">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                
                <form id="login-form">
                  <h1 class="section-heading">Login</h1>
                  <br>
                  <div class="form-group row">
                    <label for="example-text-input" class="col-xs-2 col-form-label">Username</label>
                    <div class="col-xs-10">
                      <input class="form-control" type="text" id="username-input" name="username">
                      <p class="error" id="error-username"></p>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="example-password-input" class="col-xs-2 col-form-label">Password</label>
                    <div class="col-xs-10">
                      <input class="form-control" type="password" id="password-input" name="password">
                      <p class="error" id="error-password"></p>
                    </div>
                  </div>
                  <p class="error" id="error-confirm"></p>
                  <input type="submit" class="btn btn-outline btn-xl page-scroll" value="Submit" id="login-submit">
                </form>
              </div>
            </div>
        </div>
    </header>
  <% include ../partials/footer.ejs %>
  <!-- Theme JavaScript -->
  
  <% include ../partials/scripts.ejs %>
  <script src="../public/js/login.js"></script>
</body>

</html>
