<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body id="page-top">
  <% include ../partials/nav %>
   <header>
    <section id="search_results" class="text-center">
      <div class="container">
        <h2>Search Results</h2>
        <p class="section-heading">Showing <%= results.length %> results for <i id="search_text">'<%= searchText %>'</i><p>
        <form id="sort_results_form text-center">
          <div class="form-group">  
            <label>Sort by: </label>
            <select align="center" id="sort_by_input">
              <option value='relevance'>Relevance</option>
              <% if (key == 'users') { %>
              <option value='username'>Username</option>
              <% } %>
              <% if (key == 'listings') { %>
              <option value='price'>Price</option>
              <option value='date'>Date Created</option>
              <% } %>
            </select>
          </div>
        </form>

        <!-- Render either user or listing results depending on key -->
        
        <% if (key == 'users') { %>
          <% include ../partials/search/user_results %>
        <% } %>
        <% if (key == 'listings') { %>
          <% include ../partials/search/listing_results %>
        <% } %>

        <ul class="pagination">
          <li><a href="#">1</a></li>
          <li class="active"><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
        </ul>
      </div>
    </section>
  </header>

  <% include ../partials/footer.ejs %>
  <% include ../partials/scripts.ejs %>

</body>

</html>
