<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body id="page-top">
  <% include ../partials/nav %>

<!--     <header>
        <div class="container">
            <div class="row">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>LOGO is an app that makes selling your things easier. You can post ads, search ads, and buy or trade!
                        </h1>
                        <a href="/signup.html" class="btn btn-outline btn-xl page-scroll">Click here to <strong>sign up</strong>!</a>
                        <br>
                        <br>
                        <a href="login.html" class="btn btn-outline btn-xl page-scroll">Already a member? Click here to <strong>login</strong>!</a>
                    </div>
                </div>
            </div>
        </div>
    </header> -->

    <section id="download" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">Recent Listings</h2>
                    <p>See what people in your area are selling!</p>
                    <div class="row" id="recent">

                    </div>
                </div>
            </div>
        </div>
    </section>

  <% include ../partials/footer.ejs %>
  <% include ../partials/scripts.ejs %>

</body>

</html>
