<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body id="page-top">
  <% include ../partials/nav %>
   <header>
    <section id="search_results" class="text-center">
      <div class="container">
        <h2>SEARCH RESULTS</h2>
        <p class="section-heading">Showing <%= first %> - <%= last %> of <%= numTotalResults %> total results for <i id="search_text">'<%= searchText %>'</i><p>
        <form id="sort_results_form text-center">
          <div class="form-group">  
            <label>Sort by: </label>
            <select align="center" id="sort_by_input">
              <option value='relevance'>Relevance</option>
              <% if (key == 'users') { %>
              <option value='username'>Username</option>
              <% } %>
              <% if (key == 'listings') { %>
              <option value='price'>Price</option>
              <option value='date'>Date Created</option>
              <% } %>
            </select>
          </div>
        </form>

        <!-- Pagination -->
        <% include ../partials/search/pagination %>

        <!-- Render either user or listing results depending on key -->
        <% if (key == 'users') { %>
          <% include ../partials/search/user_results %>
        <% } %>
        <% if (key == 'listings') { %>
          <% include ../partials/search/listing_results %>
        <% } %>

        <!-- Pagination -->
        <% include ../partials/search/pagination %>
      </div>
    </section>
  </header>

  <% include ../partials/footer.ejs %>
  <% include ../partials/scripts.ejs %>

</body>

</html>
