<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body id="page-top">
  <% include ../partials/nav %>
<!--     <section id="download" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">Search Results</h2>
                    <div class="row" id="recent">

                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <section id="search_results" class="download bg-primary text-center">
      <div class="container">
        <h2 class="section-heading">Showing <%= results.length %> results for <i id="search_text">'<%= searchText %>'</i> </h2>

        <form id="sort_results_form">
          <div class="form-group">  
            <label>Sort by: </label>
            <select class="form-control input-small" id="sort_by_input">
              <option value='relevance'>Relevance</option>
              <% if (key == 'users') { %>
              <option value='username'>Username</option>
              <% } %>
              <% if (key == 'listings') { %>
              <option value='price'>Price</option>
              <option value='date'>Date Created</option>
              <% } %>
            </select>
          </div>
        </form>

        <!-- Render either user or listing results depending on key -->
        
        <% if (key == 'users') { %>
          <% include ../partials/search/user_results %>
        <% } %>
        <% if (key == 'listings') { %>
          <% include ../partials/search/listing_results %>
        <% } %>
      </div>
    </section>

  <% include ../partials/footer.ejs %>
  <% include ../partials/scripts.ejs %>

</body>

</html>
